.btn-custom {
      display: inline-block;
      font-weight: 400;
      line-height: 1.5;
      color: #fff;
      text-align: center;
      text-decoration: none;
      vertical-align: middle;
      cursor: pointer;
      -webkit-user-select: none;
      user-select: none;
      background-color: #001c43;
      border: 1px solid #001c43;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      border-radius: 0.25rem;
      transition:   color .15s ease-in-out,
                  background-color .15s ease-in-out,
                  border-color .15s ease-in-out,
                  box-shadow .15s ease-in-out;
}

.btn-custom:hover {
      color: #F5b400;
}