#carrito{
      background-color: white;
      border-radius: 5px;
      height: 30px;
      display: inline-flex;
      padding: 3px;
      margin-top: 5px;
}
.count-items {
      color: #001c43;
      font-weight: bold;
}

.color-yellow {
      color: #F5b400;
}