#footer {
      text-align: center;
      color: white;
 }

#footer .container {
      /* background: #cccccc; */
      background: #A3A3A3;
      /* background-image: url(../img/banner_espol_blue.png); */
      background-repeat: no-repeat;
      background-size: 60px;
      background-position-x: 200px;
      background-position-y: 10px;
      height: 80px;
      align-items: center;
      display: grid;
  }